<div class="items-center mt-8 sm:mt-14 text-[#202142]">
  <div>
    <h2 class="pl-6 text-2xl font-bold sm:text-xl">Public Profile</h2>
    <div class="flex flex-col items-center space-y-5 py-8 sm:flex-row sm:space-y-0">

      <img class="object-cover w-40 h-40 p-1 rounded-full ring-2 ring-indigo-300 dark:ring-indigo-500"
      [src]="userImage || 'https://placekitten.com/100/100'"
          alt="User avatar">

      <div class="flex flex-col space-y-5 sm:ml-8">
          <button type="button"
              class="py-3.5 px-7 text-base font-medium text-indigo-100 focus:outline-none bg-[#202142] rounded-lg border border-indigo-200 hover:bg-indigo-900 focus:z-10 focus:ring-4 focus:ring-indigo-200 ">
              Change picture
          </button>
          <button type="button"
              class="py-3.5 px-7 text-base font-medium text-indigo-900 focus:outline-none bg-white rounded-lg border border-indigo-200 hover:bg-indigo-100 hover:text-[#202142] focus:z-10 focus:ring-4 focus:ring-indigo-200 ">
              Delete picture
          </button>
      </div>
  </div>
    <div class="mb-3">
      <label
        for="formFile"
        class="mb-2 inline-block text-neutral-700 dark:text-neutral-200"
        >Add Background Image </label
      >
      <input
        class="relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary"
        type="file"
        id="formFile" />
    </div>
   
                <button type="submit"
                class="text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 mt-4">
                Submit
            </button>
  </div></div>