  <div class="max-w-md mx-auto my-8" *ngIf="!quizStarted && timeRemaining !== '00:00'">
    <p>
      Bienvenue dans le quiz des logos de football, êtes-vous prêt ? <br>
     Testez vos compétences, si vous êtes un vrai footeux, vous finirez avec la note complète !
    </p>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
      (click)="startQuiz()"
    >
      Commencer le quiz
    </button>
  </div>
  
    <div *ngIf="quizStarted && showQuiz" class="max-w-lg mx-auto my-8">
      <p>Temps restant : {{ timeRemaining }}</p>
      <h2 class="text-2xl font-bold">Quelle est cette équipe ?</h2><br>
      <img [src]="quizData[currentQuestionIndex].image" alt="Logo Image" style="height: 200px; width: 170px;"><br>
       <div *ngIf="showQuiz">
        <div class="options">
          <button class="text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800 mt-4 mr-4" *ngFor="let proposition of quizData[currentQuestionIndex].propositions" (click)="submitAnswer(proposition)">{{ proposition }}</button>
        </div>
      </div>
</div>
<div class="max-w-md mx-auto my-8" *ngIf="isQuizFinished">
  <p>Votre score est : {{ score }} / {{ quizData.length }}</p>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" (click)="restartQuiz()">
    Refaire le quiz
  </button>
</div>